.blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments {
	float: initial;
	width: initial;
}
* {
	font-family: Lato;
}
body {
	font-size: 16px;
}

.record {
	display: flex;
}

.students, .support {
	flex: 1;
}


.students img {
	margin-top: 30px;
}

.support {
	padding-left: 50px;
}

.section-1, .section-2, .section-3, .section-4  {
	display: flex;
	padding-bottom: 50px;
}

.left, .right {
	flex: 1;
}

.left h2, .right h2 {
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
}
